In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/fuel_econ.csv')

In [3]:
df.head(20)

,id,make,model,year,VClass,drive,trans,fuelType,cylinders,displ,pv2,pv4,city,UCity,highway,UHighway,comb,co2,feScore,ghgScore
0,32204,Nissan,GT-R,2013,Subcompact Cars,All-Wheel Drive,Automatic (AM6),Premium Gasoline,6,3.8,79,0,16.4596,20.2988,22.5568,30.1798,18.7389,471,4,4
1,32205,Volkswagen,CC,2013,Compact Cars,Front-Wheel Drive,Automatic (AM-S6),Premium Gasoline,4,2.0,94,0,21.8706,26.9770,31.0367,42.4936,25.2227,349,6,6
2,32206,Volkswagen,CC,2013,Compact Cars,Front-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94,0,17.4935,21.2000,26.5716,35.1000,20.6716,429,5,5
3,32207,Volkswagen,CC 4motion,2013,Compact Cars,All-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94,0,16.9415,20.5000,25.2190,33.5000,19.8774,446,5,5
4,32208,Chevrolet,Malibu eAssist,2013,Midsize Cars,Front-Wheel Drive,Automatic (S6),Regular Gasoline,4,2.4,0,95,24.7726,31.9796,35.5340,51.8816,28.6813,310,8,8
5,32209,Lexus,GS 350,2013,Midsize Cars,Rear-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.5,0,99,19.4325,24.1499,28.2234,38.5000,22.6002,393,6,6
6,32210,Lexus,GS 350 AWD,2013,Midsize Cars,All-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.5,0,99,18.5752,23.5261,26.3573,36.2109,21.4213,412,5,5
7,32214,Hyundai,Genesis Coupe,2013,Subcompact Cars,Rear-Wheel Drive,Automatic 8-spd,Premium Gasoline,4,2.0,89,0,17.4460,21.7946,26.6295,37.6731,20.6507,432,5,5
8,32215,Hyundai,Genesis Coupe,2013,Subcompact Cars,Rear-Wheel Drive,Manual 6-spd,Premium Gasoline,4,2.0,89,0,20.6741,26.2000,29.2741,41.8000,23.8235,375,6,6
9,32216,Hyundai,Genesis Coupe,2013,Subcompact Cars,Rear-Wheel Drive,Automatic 8-spd,Premium Gasoline,6,3.8,89,0,16.4675,20.4839,24.5605,34.4972,19.3344,461,4,4
10,32217,Hyundai,Genesis Coupe,2013,Subcompact Cars,Rear-Wheel Drive,Manual 6-spd,Premium Gasoline,6,3.8,89,0,18.1909,22.8000,26.7761,37.9000,21.2581,420,5,5
11,32218,Volkswagen,CC,2013,Compact Cars,Front-Wheel Drive,Manual 6-spd,Premium Gasoline,4,2.0,94,0,20.8232,25.7303,31.7255,43.9687,24.6323,360,6,6
12,32219,Lincoln,MKS AWD,2013,Large Cars,All-Wheel Drive,Automatic (S6),Regular Gasoline,6,3.7,0,105,18.0431,22.6000,25.9987,36.7000,20.9244,424,5,5
13,32220,Lincoln,MKS AWD,2013,Large Cars,All-Wheel Drive,Automatic (S6),Regular Gasoline,6,3.5,0,105,17.1523,21.4000,25.0000,35.6000,20.0543,446,5,5
14,32221,Lincoln,MKS FWD,2013,Large Cars,Front-Wheel Drive,Automatic (S6),Regular Gasoline,6,3.7,0,105,17.9906,22.5290,26.5429,37.5393,21.0415,422,5,5
15,32231,Mazda,6,2013,Midsize Cars,Front-Wheel Drive,Automatic (S6),Regular Gasoline,6,3.7,0,102,17.7357,21.7000,26.6826,34.6000,20.8874,463,5,5
16,32232,Ford,Taurus AWD,2013,Large Cars,All-Wheel Drive,Automatic (S6),Regular Gasoline,6,3.5,0,102,18.1170,22.7000,25.5432,36.0000,20.8440,426,5,5
17,32233,Ford,Taurus AWD,2013,Large Cars,All-Wheel Drive,Automatic (S6),Regular Gasoline,6,3.5,0,102,17.1523,21.4000,25.0000,35.6000,20.0543,446,5,5
18,32234,Ford,Taurus AWD FFV,2013,Large Cars,All-Wheel Drive,Automatic (S6),Regular Gasoline,6,3.5,0,102,18.1170,22.7000,25.5432,36.0000,20.8440,426,5,5
19,32235,Ford,Taurus FWD,2013,Large Cars,Front-Wheel Drive,Automatic (S6),Regular Gasoline,6,3.5,0,102,19.3144,24.3290,28.1465,40.0311,22.4901,395,6,6

In [4]:
df.columns

Index(['id', 'make', 'model', 'year', 'VClass', 'drive', 'trans', 'fuelType',
       'cylinders', 'displ', 'pv2', 'pv4', 'city', 'UCity', 'highway',
       'UHighway', 'comb', 'co2', 'feScore', 'ghgScore'],
      dtype='object')

In [5]:
df[['make', 'model']]

            make             model
0         Nissan              GT-R
1     Volkswagen                CC
2     Volkswagen                CC
3     Volkswagen        CC 4motion
4      Chevrolet    Malibu eAssist
...          ...               ...
3924      Toyota       Prius Prime
3925     Hyundai     Sonata Hybrid
3926     Hyundai  Sonata Hybrid SE
3927       Lexus            LS 500
3928       Lexus        LS 500 AWD

[3929 rows x 2 columns]

In [6]:
df.loc[3:7, ['make', 'model']]

         make           model
3  Volkswagen      CC 4motion
4   Chevrolet  Malibu eAssist
5       Lexus          GS 350
6       Lexus      GS 350 AWD
7     Hyundai   Genesis Coupe

In [7]:
df[(df['VClass'].isin(['Midsize Cars'])) & (df['cylinders'] > 6)]

,id,make,model,year,VClass,drive,trans,fuelType,cylinders,displ,pv2,pv4,city,UCity,highway,UHighway,comb,co2,feScore,ghgScore
54,32366,Bentley,Continental Flying Spur,2013,Midsize Cars,All-Wheel Drive,Automatic (S6),Premium Gasoline,12,6.0,102,0,11.2476,13.7000,18.7327,24.6000,13.7134,646,2,2
81,32401,Cadillac,CTS,2013,Midsize Cars,Rear-Wheel Drive,Manual 6-spd,Premium Gasoline,8,6.2,99,99,14.2081,17.5000,19.0116,26.2000,16.0308,554,3,3
82,32402,Cadillac,CTS,2013,Midsize Cars,Rear-Wheel Drive,Automatic (S6),Regular Gasoline,8,6.2,99,99,11.7417,14.3089,17.7734,24.3910,13.8580,641,2,2
96,32491,Infiniti,M56,2013,Midsize Cars,Rear-Wheel Drive,Automatic (S7),Premium Gasoline,8,5.6,0,104,15.6992,19.4626,24.2328,33.9984,18.6555,476,4,4
97,32492,Infiniti,M56x,2013,Midsize Cars,All-Wheel Drive,Automatic (S7),Premium Gasoline,8,5.6,0,104,15.6967,19.4593,22.9117,31.9986,18.2883,487,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3758,39427,Audi,RS 7,2018,Midsize Cars,All-Wheel Drive,Automatic (S8),Premium Gasoline,8,4.0,0,0,13.8734,17.2630,24.4091,31.7306,17.2176,512,3,3
3759,39428,Bentley,Mulsanne,2018,Midsize Cars,Rear-Wheel Drive,Automatic (S8),Premium Gasoline,8,6.8,0,101,11.2645,13.6993,18.0543,24.8000,13.5592,652,1,1
3765,39434,Rolls-Royce,Wraith,2018,Midsize Cars,Rear-Wheel Drive,Automatic (S8),Premium Gasoline,12,6.6,99,0,12.1833,14.8753,18.5907,25.5834,14.4198,613,1,1
3820,39592,Bentley,Flying Spur,2018,Midsize Cars,All-Wheel Drive,Automatic (S8),Premium Gasoline,12,6.0,102,0,11.5230,13.9310,19.5408,25.5036,14.1324,627,1,1
3910,39821,BMW,M5,2018,Midsize Cars,All-Wheel Drive,Automatic (S8),Premium Gasoline,8,4.4,0,99,14.7050,18.1512,20.9265,29.0277,16.9762,521,3,3

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3929 entries, 0 to 3928
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3929 non-null   int64
 1   make       3929 non-null   object
 2   model      3929 non-null   object
 3   year       3929 non-null   int64
 4   VClass     3929 non-null   object
 5   drive      3929 non-null   object
 6   trans      3929 non-null   object
 7   fuelType   3929 non-null   object
 8   cylinders  3929 non-null   int64
 9   displ      3929 non-null   float64
 10  pv2        3929 non-null   int64
 11  pv4        3929 non-null   int64
 12  city       3929 non-null   float64
 13  UCity      3929 non-null   float64
 14  highway    3929 non-null   float64
 15  UHighway   3929 non-null   float64
 16  comb       3929 non-null   float64
 17  co2        3929 non-null   int64
 18  feScore    3929 non-null   int64
 19  ghgScore   3929 non-null   int64
dtypes: float64(6), int64(8), object(6)
memory usage: 614.0+ KB

Let me show you how to set column types in the DataFrame. Based on the DataFrame information shown, I'll demonstrate different ways to set column types.

Let's look at a few common ways to change column types in pandas:
1. Convert numeric columns using `astype()`
2. Convert date/time columns using `pd.to_datetime()`
3. Convert categorical columns using `astype('category')`

In [9]:
# Convert cylinders to integer type
df['cylinders'] = df['cylinders'].astype('int')

In [10]:
# Convert year to datetime type
df['year'] = pd.to_datetime(df['year'], format='%Y')

In [11]:
# Convert categorical columns
categorical_columns = ['make', 'model', 'VClass', 'drive', 'trans', 'fuelType']
df[categorical_columns] = df[categorical_columns].astype('category')

In [12]:
# Convert float columns to float32 to reduce memory usage
float_columns = ['displ', 'pv2', 'pv4', 'city', 'UCity', 'highway', 'UHighway', 'comb', 'co2']
df[float_columns] = df[float_columns].astype('float32')

In [13]:
# Verify the changes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3929 entries, 0 to 3928
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3929 non-null   int64
 1   make       3929 non-null   category
 2   model      3929 non-null   category
 3   year       3929 non-null   datetime64[ns]
 4   VClass     3929 non-null   category
 5   drive      3929 non-null   category
 6   trans      3929 non-null   category
 7   fuelType   3929 non-null   category
 8   cylinders  3929 non-null   int64
 9   displ      3929 non-null   float32
 10  pv2        3929 non-null   float32
 11  pv4        3929 non-null   float32
 12  city       3929 non-null   float32
 13  UCity      3929 non-null   float32
 14  highway    3929 non-null   float32
 15  UHighway   3929 non-null   float32
 16  comb       3929 non-null   float32
 17  co2        3929 non-null   float32
 18  feScore    3929 non-null   int64
 19  ghgScore   3929 non-null   int64
dtypes: category(6), datetime64[ns](1), float32(9), int64(4)
memory usage: 344.0 KB

In [14]:
df.size

78580

In [15]:
df

,id,make,model,year,VClass,drive,trans,fuelType,cylinders,displ,pv2,pv4,city,UCity,highway,UHighway,comb,co2,feScore,ghgScore
0,32204,Nissan,GT-R,2013-01-01,Subcompact Cars,All-Wheel Drive,Automatic (AM6),Premium Gasoline,6,3.8,79.0,0.0,16.459600,20.298800,22.556801,30.179800,18.738899,471.0,4,4
1,32205,Volkswagen,CC,2013-01-01,Compact Cars,Front-Wheel Drive,Automatic (AM-S6),Premium Gasoline,4,2.0,94.0,0.0,21.870600,26.976999,31.036699,42.493599,25.222700,349.0,6,6
2,32206,Volkswagen,CC,2013-01-01,Compact Cars,Front-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94.0,0.0,17.493500,21.200001,26.571600,35.099998,20.671600,429.0,5,5
3,32207,Volkswagen,CC 4motion,2013-01-01,Compact Cars,All-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94.0,0.0,16.941500,20.500000,25.219000,33.500000,19.877399,446.0,5,5
4,32208,Chevrolet,Malibu eAssist,2013-01-01,Midsize Cars,Front-Wheel Drive,Automatic (S6),Regular Gasoline,4,2.4,0.0,95.0,24.772600,31.979601,35.534000,51.881599,28.681299,310.0,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3924,39882,Toyota,Prius Prime,2018-01-01,Midsize Cars,Front-Wheel Drive,Automatic (variable gear ratios),Regular Gasoline,4,1.8,0.0,0.0,55.220600,78.819702,53.000000,73.652496,54.432899,78.0,10,10
3925,39898,Hyundai,Sonata Hybrid,2018-01-01,Midsize Cars,Front-Wheel Drive,Automatic (AM6),Regular Gasoline,4,2.0,0.0,106.0,39.000000,55.900002,44.306599,64.000000,41.000000,217.0,9,9
3926,39899,Hyundai,Sonata Hybrid SE,2018-01-01,Midsize Cars,Front-Wheel Drive,Automatic (AM6),Regular Gasoline,4,2.0,0.0,106.0,40.000000,56.000000,46.000000,64.000000,42.000000,212.0,9,9
3927,39900,Lexus,LS 500,2018-01-01,Midsize Cars,Rear-Wheel Drive,Automatic (S10),Premium Gasoline,6,3.4,99.0,0.0,19.219999,24.200001,30.286301,43.400002,23.002100,387.0,5,5
3928,39901,Lexus,LS 500 AWD,2018-01-01,Midsize Cars,All-Wheel Drive,Automatic (S10),Premium Gasoline,6,3.4,99.0,0.0,18.043100,22.600000,27.000000,39.299999,21.394501,417.0,4,4

In [16]:
df['make'].value_counts()

make
BMW                  523
Mercedes-Benz        269
Porsche              235
Ford                 218
Chevrolet            212
Audi                 201
MINI                 201
Volkswagen           174
Hyundai              158
Dodge                140
Lexus                125
Kia                  124
Cadillac             118
Toyota               116
Infiniti             108
Honda                101
Jaguar                98
Mazda                 87
Nissan                71
Buick                 66
Subaru                60
Chrysler              58
Lincoln               52
Volvo                 50
Acura                 46
Bentley               45
Mitsubishi            44
Rolls-Royce           42
Maserati              39
Scion                 27
Fiat                  26
Ferrari               23
Genesis               17
Aston Martin          15
Suzuki                13
Lotus                 10
Roush Performance     10
Alfa Romeo             6
Karma                  1
Name: count, dtype: int64

In [17]:
df['make'] = df['make'].apply(lambda x: x.upper())

In [18]:
df

,id,make,model,year,VClass,drive,trans,fuelType,cylinders,displ,pv2,pv4,city,UCity,highway,UHighway,comb,co2,feScore,ghgScore
0,32204,NISSAN,GT-R,2013-01-01,Subcompact Cars,All-Wheel Drive,Automatic (AM6),Premium Gasoline,6,3.8,79.0,0.0,16.459600,20.298800,22.556801,30.179800,18.738899,471.0,4,4
1,32205,VOLKSWAGEN,CC,2013-01-01,Compact Cars,Front-Wheel Drive,Automatic (AM-S6),Premium Gasoline,4,2.0,94.0,0.0,21.870600,26.976999,31.036699,42.493599,25.222700,349.0,6,6
2,32206,VOLKSWAGEN,CC,2013-01-01,Compact Cars,Front-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94.0,0.0,17.493500,21.200001,26.571600,35.099998,20.671600,429.0,5,5
3,32207,VOLKSWAGEN,CC 4motion,2013-01-01,Compact Cars,All-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94.0,0.0,16.941500,20.500000,25.219000,33.500000,19.877399,446.0,5,5
4,32208,CHEVROLET,Malibu eAssist,2013-01-01,Midsize Cars,Front-Wheel Drive,Automatic (S6),Regular Gasoline,4,2.4,0.0,95.0,24.772600,31.979601,35.534000,51.881599,28.681299,310.0,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3924,39882,TOYOTA,Prius Prime,2018-01-01,Midsize Cars,Front-Wheel Drive,Automatic (variable gear ratios),Regular Gasoline,4,1.8,0.0,0.0,55.220600,78.819702,53.000000,73.652496,54.432899,78.0,10,10
3925,39898,HYUNDAI,Sonata Hybrid,2018-01-01,Midsize Cars,Front-Wheel Drive,Automatic (AM6),Regular Gasoline,4,2.0,0.0,106.0,39.000000,55.900002,44.306599,64.000000,41.000000,217.0,9,9
3926,39899,HYUNDAI,Sonata Hybrid SE,2018-01-01,Midsize Cars,Front-Wheel Drive,Automatic (AM6),Regular Gasoline,4,2.0,0.0,106.0,40.000000,56.000000,46.000000,64.000000,42.000000,212.0,9,9
3927,39900,LEXUS,LS 500,2018-01-01,Midsize Cars,Rear-Wheel Drive,Automatic (S10),Premium Gasoline,6,3.4,99.0,0.0,19.219999,24.200001,30.286301,43.400002,23.002100,387.0,5,5
3928,39901,LEXUS,LS 500 AWD,2018-01-01,Midsize Cars,All-Wheel Drive,Automatic (S10),Premium Gasoline,6,3.4,99.0,0.0,18.043100,22.600000,27.000000,39.299999,21.394501,417.0,4,4

In [19]:
df_upper = df.applymap(lambda x: x.upper() if type(x) == str else x)
df_upper

/var/folders/6l/0v0lczzd3zg_6n8l7ysp7gyc0000gn/T/ipykernel_71003/1173992352.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_upper = df.applymap(lambda x: x.upper() if type(x) == str else x)

,id,make,model,year,VClass,drive,trans,fuelType,cylinders,displ,pv2,pv4,city,UCity,highway,UHighway,comb,co2,feScore,ghgScore
0,32204,NISSAN,GT-R,2013-01-01,SUBCOMPACT CARS,ALL-WHEEL DRIVE,AUTOMATIC (AM6),PREMIUM GASOLINE,6,3.8,79.0,0.0,16.459600,20.298800,22.556801,30.179800,18.738899,471.0,4,4
1,32205,VOLKSWAGEN,CC,2013-01-01,COMPACT CARS,FRONT-WHEEL DRIVE,AUTOMATIC (AM-S6),PREMIUM GASOLINE,4,2.0,94.0,0.0,21.870600,26.976999,31.036699,42.493599,25.222700,349.0,6,6
2,32206,VOLKSWAGEN,CC,2013-01-01,COMPACT CARS,FRONT-WHEEL DRIVE,AUTOMATIC (S6),PREMIUM GASOLINE,6,3.6,94.0,0.0,17.493500,21.200001,26.571600,35.099998,20.671600,429.0,5,5
3,32207,VOLKSWAGEN,CC 4MOTION,2013-01-01,COMPACT CARS,ALL-WHEEL DRIVE,AUTOMATIC (S6),PREMIUM GASOLINE,6,3.6,94.0,0.0,16.941500,20.500000,25.219000,33.500000,19.877399,446.0,5,5
4,32208,CHEVROLET,MALIBU EASSIST,2013-01-01,MIDSIZE CARS,FRONT-WHEEL DRIVE,AUTOMATIC (S6),REGULAR GASOLINE,4,2.4,0.0,95.0,24.772600,31.979601,35.534000,51.881599,28.681299,310.0,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3924,39882,TOYOTA,PRIUS PRIME,2018-01-01,MIDSIZE CARS,FRONT-WHEEL DRIVE,AUTOMATIC (VARIABLE GEAR RATIOS),REGULAR GASOLINE,4,1.8,0.0,0.0,55.220600,78.819702,53.000000,73.652496,54.432899,78.0,10,10
3925,39898,HYUNDAI,SONATA HYBRID,2018-01-01,MIDSIZE CARS,FRONT-WHEEL DRIVE,AUTOMATIC (AM6),REGULAR GASOLINE,4,2.0,0.0,106.0,39.000000,55.900002,44.306599,64.000000,41.000000,217.0,9,9
3926,39899,HYUNDAI,SONATA HYBRID SE,2018-01-01,MIDSIZE CARS,FRONT-WHEEL DRIVE,AUTOMATIC (AM6),REGULAR GASOLINE,4,2.0,0.0,106.0,40.000000,56.000000,46.000000,64.000000,42.000000,212.0,9,9
3927,39900,LEXUS,LS 500,2018-01-01,MIDSIZE CARS,REAR-WHEEL DRIVE,AUTOMATIC (S10),PREMIUM GASOLINE,6,3.4,99.0,0.0,19.219999,24.200001,30.286301,43.400002,23.002100,387.0,5,5
3928,39901,LEXUS,LS 500 AWD,2018-01-01,MIDSIZE CARS,ALL-WHEEL DRIVE,AUTOMATIC (S10),PREMIUM GASOLINE,6,3.4,99.0,0.0,18.043100,22.600000,27.000000,39.299999,21.394501,417.0,4,4

In [23]:
df_sorted = df.sort_values(by=['make', 'model'], ascending=[True,False])

In [24]:
df_sorted.reset_index(drop=True, inplace=True)
df_sorted

,id,make,model,year,VClass,drive,trans,fuelType,cylinders,displ,pv2,pv4,city,UCity,highway,UHighway,comb,co2,feScore,ghgScore
0,33149,ACURA,TSX,2013-01-01,Compact Cars,Front-Wheel Drive,Manual 6-spd,Premium Gasoline,4,2.4,0.0,95.0,20.890600,26.500000,28.701500,40.900002,23.806000,373.0,6,6
1,33150,ACURA,TSX,2013-01-01,Compact Cars,Front-Wheel Drive,Automatic (S5),Premium Gasoline,4,2.4,0.0,95.0,22.038200,28.100000,30.852600,44.299999,25.289499,349.0,7,7
2,33151,ACURA,TSX,2013-01-01,Compact Cars,Front-Wheel Drive,Automatic (S5),Premium Gasoline,6,3.5,0.0,95.0,19.439400,24.500000,27.806200,39.500000,22.483801,394.0,6,6
3,34334,ACURA,TSX,2014-01-01,Compact Cars,Front-Wheel Drive,Automatic (S5),Premium Gasoline,4,2.4,0.0,95.0,22.038200,28.100000,30.852600,44.299999,25.289499,349.0,7,7
4,34335,ACURA,TSX,2014-01-01,Compact Cars,Front-Wheel Drive,Manual 6-spd,Premium Gasoline,4,2.4,0.0,95.0,20.890600,26.500000,28.701500,40.900002,23.806000,373.0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3924,38782,VOLVO,S60 AWD,2018-01-01,Compact Cars,All-Wheel Drive,Automatic (S8),Premium Gasoline,4,2.0,0.0,93.0,22.287600,28.449900,31.541500,45.400002,25.677700,345.0,5,5
3925,38784,VOLVO,S60 AWD,2018-01-01,Compact Cars,All-Wheel Drive,Automatic (S8),Regular Gasoline,4,2.0,0.0,93.0,22.465500,28.700001,32.723701,47.299999,26.155100,338.0,5,5
3926,32571,VOLVO,C70 FWD,2013-01-01,Subcompact Cars,Front-Wheel Drive,Automatic (S5),Regular Gasoline,5,2.5,84.0,0.0,18.706600,23.500000,27.420799,38.900002,21.828199,400.0,5,5
3927,32589,VOLVO,C30 FWD,2013-01-01,Compact Cars,Front-Wheel Drive,Automatic (S5),Regular Gasoline,5,2.5,0.0,0.0,20.900000,25.799999,30.299999,41.799999,24.291100,362.0,6,6
3928,32590,VOLVO,C30 FWD,2013-01-01,Compact Cars,Front-Wheel Drive,Manual 6-spd,Regular Gasoline,5,2.5,0.0,0.0,21.200001,25.500000,29.299999,40.400002,24.212000,361.0,6,6

In [26]:
df.describe().transpose()

,count,mean,min,25%,50%,75%,max,std
id,3929.0,36006.724357,32204.0,34087.0,36020.0,37935.0,39901.0,2189.349923
year,3929,2015-07-03 03:45:46.042250240,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2017-01-01 00:00:00,2018-01-01 00:00:00,NaN
cylinders,3929.0,5.468313,2.0,4.0,5.0,6.0,12.0,1.878319
displ,3929.0,2.950572,0.6,2.0,2.5,3.6,7.0,1.30591
pv2,3929.0,23.660982,0.0,0.0,0.0,70.0,102.0,37.72504
pv4,3929.0,59.239246,0.0,0.0,91.0,100.0,127.0,48.667706
city,3929.0,21.830463,10.5402,17.746901,20.8232,24.9814,57.8088,6.246271
UCity,3929.0,28.04401,12.9,22.200001,26.4,32.264801,83.559799,9.087212
highway,3929.0,29.973843,16.559401,25.7542,29.633801,33.773102,59.416901,5.74757
UHighway,3929.0,42.850296,21.799999,36.0,42.200001,48.900002,79.099998,9.100424
comb,3929.0,24.79134,12.8217,20.6581,24.0,28.2271,57.782398,6.003248
co2,3929.0,376.56427,29.0,315.0,369.0,429.0,692.0,92.338829
feScore,3929.0,5.668872,1.0,5.0,5.0,7.0,10.0,1.75586
ghgScore,3929.0,5.659201,1.0,5.0,5.0,7.0,10.0,1.754589

In [29]:
group = df.groupby('VClass', observed=True)

In [30]:
group['city'].mean()

VClass
Compact Cars        23.444853
Large Cars          18.557041
Midsize Cars        23.240717
Minicompact Cars    20.448277
Subcompact Cars     20.348793
Name: city, dtype: float32

In [31]:
group['highway'].agg(['mean', 'median'])

                       mean     median
VClass
Compact Cars      31.725508  31.634100
Large Cars        26.947653  26.374901
Midsize Cars      31.372066  30.979250
Minicompact Cars  27.687393  26.840700
Subcompact Cars   28.486261  28.247999

In [32]:
group_2 = df.groupby(['VClass', 'year'], observed=True)

In [34]:
group_2['city'].mean()

VClass            year
Compact Cars      2013-01-01    22.995239
                  2014-01-01    23.320904
                  2015-01-01    23.278467
                  2016-01-01    23.493326
                  2017-01-01    23.706182
                  2018-01-01    24.018133
Large Cars        2013-01-01    17.295830
                  2014-01-01    17.745644
                  2015-01-01    17.903036
                  2016-01-01    18.212498
                  2017-01-01    19.562010
                  2018-01-01    20.140738
Midsize Cars      2013-01-01    22.330404
                  2014-01-01    22.793493
                  2015-01-01    22.717611
                  2016-01-01    23.327841
                  2017-01-01    24.034182
                  2018-01-01    24.230436
Minicompact Cars  2013-01-01    21.071976
                  2014-01-01    20.293409
                  2015-01-01    20.443609
                  2016-01-01    20.004883
                  2017-01-01    20.726587
                  2018-01-01    20.097519
Subcompact Cars   2013-01-01    19.069887
                  2014-01-01    20.546303
                  2015-01-01    20.779799
                  2016-01-01    20.776333
                  2017-01-01    20.146122
                  2018-01-01    20.960239
Name: city, dtype: float32

In [35]:
df.set_index(['make', 'model'], inplace=True)

In [36]:
df

                                id       year           VClass  \
make       model
NISSAN     GT-R              32204 2013-01-01  Subcompact Cars
VOLKSWAGEN CC                32205 2013-01-01     Compact Cars
           CC                32206 2013-01-01     Compact Cars
           CC 4motion        32207 2013-01-01     Compact Cars
CHEVROLET  Malibu eAssist    32208 2013-01-01     Midsize Cars
...                            ...        ...              ...
TOYOTA     Prius Prime       39882 2018-01-01     Midsize Cars
HYUNDAI    Sonata Hybrid     39898 2018-01-01     Midsize Cars
           Sonata Hybrid SE  39899 2018-01-01     Midsize Cars
LEXUS      LS 500            39900 2018-01-01     Midsize Cars
           LS 500 AWD        39901 2018-01-01     Midsize Cars

                                         drive  \
make       model
NISSAN     GT-R                All-Wheel Drive
VOLKSWAGEN CC                Front-Wheel Drive
           CC                Front-Wheel Drive
           CC 4motion          All-Wheel Drive
CHEVROLET  Malibu eAssist    Front-Wheel Drive
...                                        ...
TOYOTA     Prius Prime       Front-Wheel Drive
HYUNDAI    Sonata Hybrid     Front-Wheel Drive
           Sonata Hybrid SE  Front-Wheel Drive
LEXUS      LS 500             Rear-Wheel Drive
           LS 500 AWD          All-Wheel Drive

                                                        trans  \
make       model
NISSAN     GT-R                               Automatic (AM6)
VOLKSWAGEN CC                               Automatic (AM-S6)
           CC                                  Automatic (S6)
           CC 4motion                          Automatic (S6)
CHEVROLET  Malibu eAssist                      Automatic (S6)
...                                                       ...
TOYOTA     Prius Prime       Automatic (variable gear ratios)
HYUNDAI    Sonata Hybrid                      Automatic (AM6)
           Sonata Hybrid SE                   Automatic (AM6)
LEXUS      LS 500                             Automatic (S10)
           LS 500 AWD                         Automatic (S10)

                                     fuelType  cylinders  displ   pv2    pv4  \
make       model
NISSAN     GT-R              Premium Gasoline          6    3.8  79.0    0.0
VOLKSWAGEN CC                Premium Gasoline          4    2.0  94.0    0.0
           CC                Premium Gasoline          6    3.6  94.0    0.0
           CC 4motion        Premium Gasoline          6    3.6  94.0    0.0
CHEVROLET  Malibu eAssist    Regular Gasoline          4    2.4   0.0   95.0
...                                       ...        ...    ...   ...    ...
TOYOTA     Prius Prime       Regular Gasoline          4    1.8   0.0    0.0
HYUNDAI    Sonata Hybrid     Regular Gasoline          4    2.0   0.0  106.0
           Sonata Hybrid SE  Regular Gasoline          4    2.0   0.0  106.0
LEXUS      LS 500            Premium Gasoline          6    3.4  99.0    0.0
           LS 500 AWD        Premium Gasoline          6    3.4  99.0    0.0

                                  city      UCity    highway   UHighway  \
make       model
NISSAN     GT-R              16.459600  20.298800  22.556801  30.179800
VOLKSWAGEN CC                21.870600  26.976999  31.036699  42.493599
           CC                17.493500  21.200001  26.571600  35.099998
           CC 4motion        16.941500  20.500000  25.219000  33.500000
CHEVROLET  Malibu eAssist    24.772600  31.979601  35.534000  51.881599
...                                ...        ...        ...        ...
TOYOTA     Prius Prime       55.220600  78.819702  53.000000  73.652496
HYUNDAI    Sonata Hybrid     39.000000  55.900002  44.306599  64.000000
           Sonata Hybrid SE  40.000000  56.000000  46.000000  64.000000
LEXUS      LS 500            19.219999  24.200001  30.286301  43.400002
           LS 500 AWD        18.043100  22.600000  27.000000  39.299999

                                  comb    co2  feScore  ghgScore
make       model
NISSAN     GT-R              18.738899  471.0        4         4
VOLKSWAGEN CC                25.222700  349.0        6         6
           CC                20.671600  429.0        5         5
           CC 4motion        19.877399  446.0        5         5
CHEVROLET  Malibu eAssist    28.681299  310.0        8         8
...                                ...    ...      ...       ...
TOYOTA     Prius Prime       54.432899   78.0       10        10
HYUNDAI    Sonata Hybrid     41.000000  217.0        9         9
           Sonata Hybrid SE  42.000000  212.0        9         9
LEXUS      LS 500            23.002100  387.0        5         5
           LS 500 AWD        21.394501  417.0        4         4

[3929 rows x 18 columns]

In [37]:
df.index

MultiIndex([(       'NISSAN',             'GT-R'),
            (   'VOLKSWAGEN',               'CC'),
            (   'VOLKSWAGEN',               'CC'),
            (   'VOLKSWAGEN',       'CC 4motion'),
            (    'CHEVROLET',   'Malibu eAssist'),
            (        'LEXUS',           'GS 350'),
            (        'LEXUS',       'GS 350 AWD'),
            (      'HYUNDAI',    'Genesis Coupe'),
            (      'HYUNDAI',    'Genesis Coupe'),
            (      'HYUNDAI',    'Genesis Coupe'),
            ...
            ('MERCEDES-BENZ',            'C350e'),
            (   'VOLKSWAGEN',             'Golf'),
            (          'BMW',     'X2 xDrive28i'),
            (        'LEXUS',          'LS 500h'),
            (        'LEXUS',      'LS 500h AWD'),
            (       'TOYOTA',      'Prius Prime'),
            (      'HYUNDAI',    'Sonata Hybrid'),
            (      'HYUNDAI', 'Sonata Hybrid SE'),
            (        'LEXUS',           'LS 500'),
            (        'LEXUS',       'LS 500 AWD')],
           names=['make', 'model'], length=3929)

In [38]:
df.reset_index(drop=True, inplace=True)

In [39]:
df.set_index('id', inplace=True)

In [40]:
df

,year,VClass,drive,trans,fuelType,cylinders,displ,pv2,pv4,city,UCity,highway,UHighway,comb,co2,feScore,ghgScore
id,,,,,,,,,,,,,,,,,
32204,2013-01-01,Subcompact Cars,All-Wheel Drive,Automatic (AM6),Premium Gasoline,6,3.8,79.0,0.0,16.459600,20.298800,22.556801,30.179800,18.738899,471.0,4,4
32205,2013-01-01,Compact Cars,Front-Wheel Drive,Automatic (AM-S6),Premium Gasoline,4,2.0,94.0,0.0,21.870600,26.976999,31.036699,42.493599,25.222700,349.0,6,6
32206,2013-01-01,Compact Cars,Front-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94.0,0.0,17.493500,21.200001,26.571600,35.099998,20.671600,429.0,5,5
32207,2013-01-01,Compact Cars,All-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94.0,0.0,16.941500,20.500000,25.219000,33.500000,19.877399,446.0,5,5
32208,2013-01-01,Midsize Cars,Front-Wheel Drive,Automatic (S6),Regular Gasoline,4,2.4,0.0,95.0,24.772600,31.979601,35.534000,51.881599,28.681299,310.0,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39882,2018-01-01,Midsize Cars,Front-Wheel Drive,Automatic (variable gear ratios),Regular Gasoline,4,1.8,0.0,0.0,55.220600,78.819702,53.000000,73.652496,54.432899,78.0,10,10
39898,2018-01-01,Midsize Cars,Front-Wheel Drive,Automatic (AM6),Regular Gasoline,4,2.0,0.0,106.0,39.000000,55.900002,44.306599,64.000000,41.000000,217.0,9,9
39899,2018-01-01,Midsize Cars,Front-Wheel Drive,Automatic (AM6),Regular Gasoline,4,2.0,0.0,106.0,40.000000,56.000000,46.000000,64.000000,42.000000,212.0,9,9
39900,2018-01-01,Midsize Cars,Rear-Wheel Drive,Automatic (S10),Premium Gasoline,6,3.4,99.0,0.0,19.219999,24.200001,30.286301,43.400002,23.002100,387.0,5,5
39901,2018-01-01,Midsize Cars,All-Wheel Drive,Automatic (S10),Premium Gasoline,6,3.4,99.0,0.0,18.043100,22.600000,27.000000,39.299999,21.394501,417.0,4,4