In [ ]:
# %pip install openpyxl

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/anscombes-quartet.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       11 non-null     float64
 1   Y       11 non-null     float64
 2   X.1     11 non-null     float64
 3   Y.1     12 non-null     object
 4   X.2     11 non-null     float64
 5   Y.2     11 non-null     float64
 6   X.3     11 non-null     float64
 7   Y.3     11 non-null     float64
dtypes: float64(7), object(1)
memory usage: 1.1+ KB

In [4]:
df.describe()

,X,Y,X.1,X.2,Y.2,X.3,Y.3
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,9.000000,7.500909,9.000000,9.000000,7.500000,9.000000,7.500909
std,3.316625,2.031568,3.316625,3.316625,2.030424,3.316625,2.030579
min,4.000000,4.260000,4.000000,4.000000,5.390000,8.000000,5.250000
25%,6.500000,6.315000,6.500000,6.500000,6.250000,8.000000,6.170000
50%,9.000000,7.580000,9.000000,9.000000,7.110000,8.000000,7.040000
75%,11.500000,8.570000,11.500000,11.500000,7.980000,8.000000,8.190000
max,14.000000,10.840000,14.000000,14.000000,12.740000,19.000000,12.500000